ng-map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.map-tools {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.md-scale.md-is-open .md-fab-action-item {
    transform: scale(1);
}

.md-button.md-fab.md-tiny {
    line-height: 30rem;
    width: 35px;
    height: 35px;
}
